.title-area{
    width: 100%;
    height: calc(var(--vh,1vh) * 100);
    position: relative;
    // background: #02343F;
    overflow: hidden;
}
.title{
    text-align: center;
    font-size: clamp(30px, 5vw, 100px);
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    // color: #02343F;
    color: #1B1B1B;
}
.project-list{
    width: 100%;
    .project-item{
        width: 100%;
        height: 100vh;
        position: relative;
        position:-webkit-sticky;
        position: sticky;
        top: 0;
        left: 0;
        .img-box{
            width: 100%;
            height: 100%;
            position: relative;
            &::before{
                content: '';
                display: block;
                position: absolute;
                background: rgba(0, 0, 0, 0.8);
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
        .text-box{ 
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
           color: #fff;
           width: 100%;
           height: auto;
           text-align: center;
           padding: 20px 0;
           display: flex;
           flex-direction: column;
           align-items: center;
           gap: 20px;
           opacity: 1;
        }
        .name{
            font-size: clamp(60px, 6vw, 100px); 
            line-height: 1.5;
            text-transform: uppercase;
            font-weight: bold;
        }
        .desc-box{
            display: block;
            font-size: clamp(18px, 1.2vw, 30px); 
            line-height: 1;
        }
        .desc{
            display: block;
            padding-bottom: 30px;
        }
        .use-box{
            display: flex;
            justify-content: center;
            gap: 20px;
        }
        .use{
            display: inline-block;
            padding: 10px 20px;
            border-radius: 30px;
            font-size: 20px;
            line-height: 1;
            background: #fff;
            color: #000;
            font-weight: bold;
        }
        .link-box{
            margin-top: 10px;
            display: flex;
            gap: 20px;
        }
        .link-item{
            text-transform: uppercase;
            display: block;
            width: fit-content;
            padding: 10px 20px;
            transition: 0.5s;
            color: #fff;
            &:hover{
                transition: 0.5s;
                background: #fff;
                color: #000;
            }
            .text{
                font-size: 30px;
                font-weight: bold;
              
            }
        }
    }
}
.circle{
    position: fixed;       
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: #CD5C5C;
    border-radius: 50%;
    z-index: 5;
    pointer-events: none;
    mix-blend-mode: difference;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
    transition: 0.2s;
    &.hide{
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s;
    }
    &.contact{
        width: 60px;
        height: 60px;
        mix-blend-mode: normal;
        text-align: center;
        line-height: 60px;
        font-size:  18px;
        font-weight: bold;
        transition: 0.2s;
        font-family: 'IBM Plex Sans KR', 'Roboto Condensed';
    }

}




@media (max-width: 1020px){

   

}


@media (max-width: 768px){
    
    .project-list{
        .project-item{
            .use-box{
                flex-wrap: wrap ;
                gap: 10px;
            }
            .text-box{
               width: auto;
            }
            .desc{
                word-break: keep-all;
            }
        } 
    } 
    .circle{
        display: none;
    }

}